{% extends "wrapper.html" %}
{% block content %}
<div class="menu-top">	
	<ul class="tabs-nav">
		<li>
			<a href="" class="active">
				<span class="tm-image hover">
					<img src="" alt="" class="tm">
					<img src="" alt="" class="tmh">
				</span>
				<span class="tm-title">
					Детские товары
				</span>
			</a>
		</li>
		<li>
			<a href="">
				<span class="tm-image hover">
					<img src="" alt="" class="tm">
					<img src="" alt="" class="tmh">
				</span>
				<span class="tm-title">
					Женские товары
				</span>
			</a>
		</li>
		<li>
			<a href="">
				<span class="tm-image hover">
					<img src="" alt="" class="tm">
					<img src="" alt="" class="tmh">
				</span>
				<span class="tm-title">
					Акции
				</span>
			</a>
		</li>
	</ul>
	<div class="tabs-body">
		<div class="tab"></div>
		<div class="tab"></div>
		<div class="tab"></div>
	</div>
</div>

<div class="grid">
	<div class="slider-banner">
		<a href="">
			<div class="inner">
				<div class="left-banner">
					<div class="title">
						Новая коллекция колясок ANEX 2018!
					</div>
					<div class="text">
						<p>Уже совсем скоро в наших магазинах!</p>
						<p>Успевайте забронировать!</p>
						<p><br></p>
					</div>
					<div class="flagg">
						Смотреть
					</div>
				</div>
				<div class="right-banner">
					<img src="" alt="">
					<div class="img-r">
						<img src="" alt="">
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="lots-block">
		
	</div>

	<div class="links-block">
		
	</div>
</div>

{% endblock %}